.display-section.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 400px 0;
    height: 100vh;
    box-sizing: border-box;
    opacity: 0;
    position: relative;
  }
  
  .display-section .title {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.022em;
    margin-bottom: 0;
  }
  
  .display-section .text {
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(180deg, #E66732, #e85b1e);
    -webkit-background-clip: text;
    background-clip: text;
    padding-top: 0.5px;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  
  .display-section .description {
    font-size: 21px;
    font-weight: 400;
  }
  
  .display-section .button {
    background: #E66732;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 400;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
    margin: 15px;
  }
  
  .display-section .back-button {
    background: white;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 0.6rem;
    cursor: pointer;
    transition: all 0.8s ease;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }